.content {
    display: table;
    margin: 82px auto 32px;
    padding: 0 16px;
    min-width: 482px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: 600;
    font-size: large;
}

.form-control {
    border-color: #1976d2;
}