<div class="content">
    <form (ngSubmit)="resumenData()" class="form-box">
        <h3>Informaci&oacute;n del Documento</h3>
        <br/>
        <div class="form-group">
            <label>Nombre del ciudadano(a)</label>
            <p class="form-control mb-3 mt-3">{{ fname }}</p>
        </div>
        <div class="form-group">
            <label>Apellido del ciudadano(a)</label>
            <p class="form-control mb-3 mt-3">{{ lname }}</p>
        </div>
        <div class="form-group">
            <label>Tipo de Documento</label>
            <p class="form-control mb-3 mt-3">{{ tipoDocumento }}</p>
        </div>

        <div class="form-group">
            <label>N&uacute;mero de Documento</label>
            <p class="form-control mb-3 mt-3">{{ numeroDocumento }}</p>
        </div>

        <div class="form-group">
            <label>Pa&iacute;s del Documento</label>
            <p class="form-control mb-3 mt-3">{{ pais }}</p>
        </div>

        <button type="submit" class="form-control btn btn-primary mb-3 mt-3">Volver al Inicio</button>
    </form>
</div>

<router-outlet></router-outlet>